
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Murat Yücedağ Youtube Kanalı tarafından oluşturulan 50 derste ASP.NET MVC videolarını izleyip uyguladıgım projedir.</h2>

<h3>Uygulamayı yapan:İbrahim Halil Metin</h3>